/* styles.css */
*{
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;

}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}