/* styles.css */
*{
  margin: 0;
  padding: 0;
}

body {
  height: 98vh;
  background-color: black;
  display: flex;
  flex-direction: column; 
  background-image: url(./imgs/RestaurantBackground.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto 100%;
}

header {  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: transparent;
}

.head{
  border: transparent;
  background-color: transparent;
  color: antiquewhite;
  font-size: 2em;
  padding: 0 10px;
  margin: 0 5px;
  cursor: pointer;
}

.content{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  text-align: center;
  color: antiquewhite;
  background-color: rgba(0, 0, 0, 0.67);
  width: 100%;
  padding: 2em;
  font-size: 4em;
}
