/* styles.css */
*{
  margin: 0;
  padding: 0;
}

body {
  height: 98vh;
  background-color: black;
  display: flex;
  flex-direction: column; 
  align-items: center;
  background-image: url(./imgs/RestaurantBackground.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto 100%;
}

header {  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(0, 0, 0);
  padding: auto ;
  position: relative;
}

.head{
  border: transparent;
  background-color: transparent;
  color: antiquewhite;
  font-size: 2em;
  padding: 0 10px;
  margin: 0 5px;
  cursor: pointer;
}

#content{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  text-align: center;
  color: antiquewhite;
  background-color: rgba(0, 0, 0, 0.67);
  width: 100%;
  padding: 2em;
  font-size: 4em;
}

#menuPage{
  width: 100%;
  margin-top: 100px;
  padding: 30px 30%;
  text-align: center;
  color: antiquewhite;
  background-color: rgba(0, 0, 0, 0.67);
}

.underLine {
  margin: 0;
  text-decoration: underline;
}

.about {
  color: white;
  background-color: rgba(0, 0, 0, 0.67);
  display: block;
  width: 100%;
}

.aboutSection{
  padding: 30px;
  padding-left: 30%;
  padding-right: 30%;
}

.contactPage{
  text-align: center;
  padding: 100px;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: rgba(0, 0, 0, 0.67);
  width: 100%;
  font-size: 1.5em;

}